.etabs-tabs {
    padding-left: 97px;
}

.control-buttons {
    background: #f9f1f1b5;
    width: 96px;
    position: absolute;
    z-index: 10;
    /*border-right: 1px solid #aaa;*/
}

.control-buttons a {
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

.logout, .main {
    display: none;
}

#btn-hide {
    position: absolute;
    z-index: 99;
    right: 15px;
    bottom: -20px;
    border: 0;
    border-radius: 0 0 10px 10px;

}

#btn-hide.light {
    color: #337ab7;
}

.browser {
    position: relative;
}

.browser .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    opacity: .6;
    background: black;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    color: #d28b8b;
    font-size: 18px;
}

webview {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

webview.visible {
    visibility: visible;
}

.cursor_pointer {
    cursor: pointer;
}

.cursor_none {
    cursor: none;
}


.upgrade-box {
    /*display: none;*/
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background: #ffffff;
    z-index: 100;
    align-items: center
}

.upgrade-box > div {
    float: right;
    vertical-align: middle;
    margin: 5px !important;
}

.upgrade-box .loading {

}

.upgrade-box .upgrade {
    display: none;
}

.upgrade-box .process {
    position: absolute;
    width: 0;
    height: 44px;
    background: rgba(0, 159, 149, 0.8);
    margin: 0 !important;
    z-index: 10;
    transition:width 1s;
}

