.etabs-tabs {
    padding-left: 65px;
}

.control-buttons {
    background: #f9f1f1b5;
    width: 64px;
    position: absolute;
    z-index: 999;
    /*border-right: 1px solid #aaa;*/
}

.control-buttons a {
    text-align: center;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0;
    float: left;
    cursor: pointer;
}

.logout {
    display: none;
}

#btn-hide {
    margin: 0 auto;
    width: 80px;
    display: block;
    position: relative;
    top: 10px;
    opacity: .7;
}

.main {
    display: none;
}

.main ul{
    height: 25px;
}

.main ul > li {
    list-style: none;
    display: block;
    border: 1px solid;
    float: left;
    padding: 1px 5px;
    border-radius: 5px;
}

.main ul > li a {
    text-decoration: none;
    color: black;
}